{% extends 'core/base.html' %}
{% block title %}Contacto{% endblock %}
{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}
{% block header %}
    <h1>Contacto</h1>
    <span class="subheading text-mono">Escribime</span>
{% endblock header %}
{% block content %}

<div class="row">
    <form id="formulario" action="/" method="">
        <div class="row">
            <div class="form-group col-12 col-lg-6">
                <input type="text" name="nombre" id="nombre" required>
                <span class="bar"></span>
                <label for="nombre">Nombre</label>
                <p></p>
            </div>

            <div class="form-group col-12 col-lg-6">
                <input type="text" name="apellido" id="apellido" required>
                <span class="bar"></span>
                <label for="apellido">Apellido</label>
                <p></p>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-12 col-lg-6">
                <input type="text" name="email" id="email" required>
                <span class="bar"></span>
                <label for="email">Email</label>
                <p></p>
            </div>

            <div class="form-group col-12 col-lg-6">
                <input type="text" name="tel" id="tel" required>
                <span class="bar"></span>
                <label for="tel">Teléfono</label>
                <p></p>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <textarea name="msg" id="msg" rows="8" cols="35" required></textarea><label for="msg">Mensaje</label>
                <span class="bar"></span>
                <p></p>
            </div>
        </div>

        <div class="row">
            <div class="form-btn-box">
                <button type="submit" class="form-btn form-btn-submit" formnovalidate>ENVIAR</button>
                <button class="form-btn form-btn-reset">CANCELAR</button>
            </div>
        </div>

    </form>
</div>
{% endblock %}