{% extends 'core/base.html' %}
{% block title %}Portada{% endblock %}
{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}
{% block header %}
    <h1>Cosmo Kramer</h1>
    <span class="subheading text-mono">"Bagel Technician"</span>
{% endblock header %}
{% block content %}
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

        <div class="col">
            <div class="card h-100 bg-dark text-white border-0 rounded-3 shadow-lg">
                <img src="{% static 'core/img/home-bagel-1.jpg' %}" class="card-img" alt="Bagel">
                <div class="card-img-overlay p-5 d-flex flex-column justify-content-between">
                    <h2 class="card-title fw-bold" style="font-size:3rem">Bagel</h2>
                    <p class="card-text">This is a wider card.</p>
                    <ul class="d-flex justify-content-between list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="{% static 'core/img/bagel-ico.png' %}" alt="Bagel" width="26" height="26" class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <i class="fas fa-thumbtack me-2"></i> 
                            <small class="text-mono">Here</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="fas fa-calendar-alt me-2"></i>
                            <small class="text-mono">2d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            
        <div class="col">
            <div class="card bg-dark text-white border-0 rounded-3 shadow-lg">
                <img src="{% static 'core/img/home-bagel-2.jpg' %}" class="card-img" alt="Bagel">
                <div class="card-img-overlay p-5 d-flex flex-column justify-content-between">
                    <h2 class="card-title fw-bold" style="font-size:3rem">Bagel</h2>
                    <p class="card-text">This is a wider card.</p>
                    <ul class="d-flex justify-content-between list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="{% static 'core/img/bagel-ico.png' %}" alt="Bagel" width="26" height="26" class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <i class="fas fa-thumbtack me-2"></i> 
                            <small class="text-mono">Here</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="fas fa-calendar-alt me-2"></i>
                            <small class="text-mono">2d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 bg-dark text-white border-0 rounded-3 shadow-lg">
                <img src="{% static 'core/img/home-bagel-3.jpg' %}" class="card-img" alt="Bagel">
                <div class="card-img-overlay p-5 d-flex flex-column justify-content-between">
                    <h2 class="card-title fw-bold" style="font-size:3rem">Bagel</h2>
                    <p class="card-text">This is a wider card.</p>
                    <ul class="d-flex justify-content-between list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="{% static 'core/img/bagel-ico.png' %}" alt="Bagel" width="26" height="26" class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <i class="fas fa-thumbtack me-2"></i> 
                            <small class="text-mono">Here</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="fas fa-calendar-alt me-2"></i>
                            <small class="text-mono">2d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>   
            
    </div>

    
{% endblock %}